

.calendar_container{

width: 200px;
height: 25px;
margin-left: 10px;
margin-top: 50px;
z-index: 1000px;
}







.calendar_header{
display: inline;
height: 15px;
padding-right: 2px;

}

.calendar_header1{
display: inline;
height: 15px;
padding-right: 2px;

}

.calendar_header2{
display: inline;
height: 15px;
padding-right: 2px;
}

.calendar_header3{
display: inline;
height: 15px;
padding-right: 2px;

}